version: '3.8'

services:
  db:
    image: postgres:15
    container_name: eit_postgres
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: eit_crm
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: eit_backend
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - ./backend:/app
    ports:
      - "8001:8001"
    depends_on:
      - db
    environment:
      - DB_NAME=eit_crm
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: eit_frontend
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://192.168.1.72:8001
    depends_on:
      - backend

volumes:
  postgres_data:
