version: '3.8'

services:
  db:
    image: postgres:15
    container_name: eit_postgres
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: eit_crm
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
